---
export const prerender = true;
import { getCollection } from "astro:content";

import MasterLayout from "../../../layouts/MasterLayout.astro";

export async function getStaticPaths() {
  const notes = await getCollection('notes');
  return notes.map(note => ({
    params: { slug: note.slug },
    props: { note },
  }));
}


const { note } = Astro.props;
---

<MasterLayout>
  <article>
    <div class="flex space-between items-center">
      <h1>{note.data.title}</h1>
    </div>
    <div class="note-date">{note.data.date}</div>

    <div class="py-md"></div>

    <div class="panel" set:html={note.rendered?.html}></div>

  </article>
</MasterLayout>
