---
import "../styles/master.css";


---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>
            上班摸魚人
        </title>
    </head>
    <body>
        <div class="container px-sm py-md">
            <div class="flex flex-row items-center space-between">
	            <h1 class="text-md">摸魚的記錄平台</h1> 
                <div class="flex gap-sm">
                    <slot name="appendButtons" />
                </div>
            </div>
            <div class="py-lg">
                <slot />
            </div>
        </div>
    </body>
</html>
